# BrowserStack Credentials (замените на свои)
BROWSERSTACK_USERNAME=your_username_here
BROWSERSTACK_ACCESS_KEY=your_access_key_here

# BrowserStack Remote URL
REMOTE_URL=http://hub.browserstack.com/wd/hub

# App capabilities (Android)
PLATFORM_NAME=android
PLATFORM_VERSION=9.0
DEVICE_NAME=Google Pixel 3

# App for BrowserStack (нужно загрузить WikipediaSample.apk)
APP_URL=bs://<YOUR_APP_ID>

# Timeouts
TIMEOUT=10

# Browser management
HOLD_BROWSER_OPEN=false
SAVE_PAGE_SOURCE_ON_FAILURE=true